In [18]:
import pandas as pd
import numpy as np
import glob

all_data = pd.DataFrame()
for f in glob.glob('sparse_files\\test\\*.csv'):
    df = pd.read_csv(f,header=None,index_col=False)
    all_data = all_data.append(df, ignore_index=True)

In [19]:
all_data.shape

(261667, 16)

In [20]:
export_csv = all_data.to_csv(r'reg_test.csv', index = None, header=None)

In [10]:
df = pd.read_csv('sparse_files\\trail\\reg_train_1.csv',header=None,index_col=False)
df.head()
(856901, 16)
(261667, 16)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,174683,10,3.587581,5.0,5.0,3.0,4.0,4.0,3.0,5.0,4.0,3.0,2.0,3.882353,3.611111,5
1,233949,10,3.587581,4.0,4.0,5.0,1.0,3.0,2.0,3.0,2.0,3.0,3.0,2.692308,3.611111,3
2,555770,10,3.587581,4.0,5.0,4.0,4.0,5.0,4.0,2.0,5.0,4.0,4.0,3.795455,3.611111,4
3,767518,10,3.587581,2.0,5.0,4.0,4.0,3.0,5.0,5.0,4.0,4.0,3.0,3.884615,3.611111,5
4,894393,10,3.587581,3.0,5.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,4.000000,3.611111,4